/* ----- Imágenes ----- */

.blog-img {
    /* float: left; */
    width: 14em;
    max-width: 100%;
    border-radius: 5px;
    /* margin: 0 1.5em 1.5em 0; */
    border: thin solid #ccc;
}

.blog-img-exception {
    float: left;
    width: 14em;
    height: 7em;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 1.5em 1.5em 0;
    border: thin solid #ccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  /* margin-bottom: auto; */
  /* width: 50%; */
}

.justificado{
    text-align: justify;
}


/* ----- FONDOS ----- */

.fondo {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondo-main {
    background: url(../img/background1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondo-ee {
    background: url(../img/canny.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* ----- Texto blanco ----- */

a.white{
    color: rgb(255, 255, 255);
}

