/* your styles go here */

.blog-img {
    /* float: left; */
    width: 14em;
    max-width: 100%;
    border-radius: 5px;
    /* margin: 0 1.5em 1.5em 0; */
    border: thin solid #ccc;
}

.blog-img-exception {
    float: left;
    width: 14em;
    height: 7em;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 1.5em 1.5em 0;
    border: thin solid #ccc;
}

.justificado{
    text-align: justify;
}

aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: roboto;
    background-color: lightgray;
}

.galeria {
    float: left;
    height: 10em;
    width: 20em;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 1.5em 1.5em 0;
    border: thin solid #ccc;
}

.section-nav{
    border-right: 2px solid rgb(79, 138, 50);
    text-align: left;
    padding-right: 10px;
    padding-left: 0px
}

a.gray {
  color: #878c8f;
  text-decoration: none;
}
