/* Eliminar bordes y fondo de las cards de posts */
.post-entry {
    border: none;
    box-shadow: none;
    background: none;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}

.post-entry:last-child {
    border-bottom: none;
}

/* Definimos la base */
html {
    /* Base estándar */
    font-size: 14px; 
}

/* Apunta específicamente a los títulos dentro del contenido del post */
.post-content h1, 
.post-single h1 {
    font-size: 20pt !important;
}

.post-content h2,
.post-single h2 {
    font-size: 16pt !important;
}

body {
    font-size: 1.125rem; /* 18px: Legible y profesional */
    /* line-height: 1.65; */
    /* color: #333; */
    -webkit-font-smoothing: antialiased;

    hyphens: auto; 
    word-break: break-word;
}

/* Título principal (Solo uno por página) */
h1 {
    font-size: 20pt !important; /* 36px - Notable pero no invasivo */
    /* line-height: 1.2; */
    /* margin-top: 1.5rem; */
    /* margin-bottom: 1rem; */
    font-weight: 600;
}

/* Subtítulos de sección */
h2 {
    font-size: 16pt !important; /* 28px - Equilibrio perfecto con el cuerpo */
    /* line-height: 1.3; */
    /* margin-top: 2.5rem; Más espacio arriba para separar secciones */
    /* margin-bottom: 0.75rem; */
    font-weight: 600;
}

/* Subtítulos de tercer nivel */
h3 {
    font-size: 14pt !important; /* 22px */
    /* margin-top: 2rem; */
    font-weight: 600;
}

/* Subtítulos de cuarto nivel */
h4 {
    font-size: 12pt !important; /* 22px */
    /* margin-top: 2rem; */
    font-weight: 500;
}

h2, h3 {
    /* Da un poco de aire antes del párrafo */
    margin-bottom: 0.5rem; 
}

/* Navbar */
/* .nav {
    background-color: #2e7d32;
} */

/* .nav a {
    color: #ffffff !important;
} */





